<h1 class= "text-center"> Contact </h1>

<p class='text-'> Pour contacter notre team, veuillez envoyer votre message par hibou à l'adresse suivante : </p>

<div class='container'>
	<p> Ms C. L.
	<br>Membre du clan THP</br>
	Hogwards city
	</p>
</div>
